apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Namespace is handled by the parent, but can remain here for local validation
namespace: crossplane-system 

helmCharts:
  - name: crossplane
    repo: "https://charts.crossplane.io/stable"
    version: 2.1.4
    releaseName: crossplane
    namespace: crossplane-system
    valuesInline:
      admissionController:
        replicas: 1
      backgroundController:
        replicas: 1
      cleanupController:
        replicas: 1
      reportsController:
        replicas: 1