apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Namespace is handled by the parent, but can remain here for local validation
namespace: kyverno 

helmCharts:
  - name: kyverno
    repo: "https://kyverno.github.io/kyverno/"
    version: 3.7.0
    releaseName: kyverno
    namespace: kyverno
    valuesInline:
      admissionController:
        replicas: 1
      backgroundController:
        replicas: 1
      cleanupController:
        replicas: 1
      reportsController:
        replicas: 1