apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kyverno

# 1. Install Kyverno Engine via Helm
helmCharts:
  - name: kyverno
    repo: [https://kyverno.github.io/kyverno/](https://kyverno.github.io/kyverno/)
    version: 3.3.4
    releaseName: kyverno
    namespace: kyverno
    valuesInline:
      admissionController:
        replicas: 1
      backgroundController:
        replicas: 1
      cleanupController:
        replicas: 1
      reportsController:
        replicas: 1

# 2. Apply Custom Policies
resources:
  - policies/disallow-root.yaml
  - policies/require-probes.yaml