apiVersion: apps/v1
kind: Deployment
metadata:
  name: devsecops-demo-app
  labels:
    app: devsecops-demo-app
spec:
  selector:
    matchLabels:
      app: devsecops-demo-app
  template:
    metadata:
      labels:
        app: devsecops-demo-app
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
